@page "/"

<h3>Blazor WebAssembly integration with javascript WYSIWYG editors</h3>
<h5>How it basically works?</h5>
<p>We set the textarea's value to the currrent editor's value, and then we trigger the onchange event for the textarea element using the editor's API change event</p>
<p>See the js interop helper functions <a href="/InteropHelpers.js">here</a>.</p>